.small-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.small-card img {
    width: 174px;
    height: 174px;
    padding-bottom: 20px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    -moz-window-dragging: 174px;
    max-width: 174px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1; 
    -webkit-box-orient: vertical;
}
.artist{
    font-weight: 400;
    font-size: 20px;
}