.small-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.small-card img {
    width: 174px;
    height: 174px;
    padding-bottom: 20px;
}
.title{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    max-width: 174px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.artist{
    font-weight: 400;
    font-size: 20px;
}